/* It's common practice to arrange selectors in alphabetical order */

/* Importing my favourite fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Remove default styling of all anchor tags */
a {
	text-decoration: none;
	color: white;
}

/* Background image */
body {
	background-image: url("../images/back_to_earth.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.center {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	padding: 1rem;
	color: black;
}

/* Define how the menu will look on mobile */
.dropdown-menu {
	background-color: #1d4e89;
	display: grid;
	grid-template-columns: repeat(4, minmax(10px, 1fr));
	padding: 0.25rem;
	margin: 1rem;
	grid-gap: 5px;
}

/* styling for menu items */
.dropdown-menu > li {
	position: relative;
	text-align: center;
	font-size: small;
	border-radius: 0.25rem;
	padding: 0.25rem 0 0.25rem 0;
}

.dropdown-menu > li:hover {
	background-color: #7dcfd6;
}

/* For desktop users */
/* Show dropdown on hover */
.dropdown-menu > li:hover > ul {
	height: fit-content;
	padding: 1rem;
}

/* For mobile users */
/* Show dropdown on click */
.dropdown-menu > li:active > ul {
	height: fit-content;
	padding: 1rem;
}

/* styling for the dropdown container */
.dropdown-item-container {
	height: 0;
	width: 12rem;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 2rem;
	transition: all 0.2s;
	overflow: hidden;
	background-color: #007689;
	border-radius: 0.25rem;
	z-index: 20;
}

/* last two dropdowns will come out from right side */
.dropdown-menu > li:nth-last-child(-n+2) > ul {
	right: 0;
}

/* the next two parts are necessary for the underlined link items to show properly */
.dropdown-item-container > li {
	width: 100%;
	height: fit-content;
	border-radius: 1rem;
	padding: 1rem 0.25rem 1rem 0.25rem;
}

.dropdown-item-container > li > a {
	text-align: center;
	padding: 1rem 0.25rem 1rem 0.25rem;
}

/* Change background color when hovering over dropdown items */
.dropdown-item-container > li:hover {
	background-color: #7dcfd6;
}
.dropdown-item-container > li:hover > a {
	border-bottom: 0px solid black;
	color: black;
}

/* black underline on the dropdown items */
.dropdown-item-container > li:not(:last-child) > a {
	border-bottom: 1px solid black;
}

/* The gallery */
.gallery {
	padding: 1rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(2, minmax(100px, 1fr));
}

/* All images from the gallery should occupy all available width */
.gallery > img {
	width: 100%;
}

/* Change the cursor to pointer on all 'li' items */
li {
	cursor: pointer;
}

marquee {
	color: black;
	margin: 0 1rem 0 1rem;
}

/* All unordered lists will have a padding of 1rem */
ul {
	list-style-type:none;
	padding: 1rem; /* 'rem' is preferred over 'px' */
}

/* On medium sized screens and bigger */
@media only screen and (min-width: 768px) {
	.dropdown-menu {
		grid-template-columns: repeat(4, minmax(100px, 1fr));
	}
	.dropdown-menu > li {
		padding: 1rem 0 1rem 0;
	}
	.gallery {
		grid-template-columns: repeat(4, minmax(100px, 1fr));
	}
	.dropdown-item-container {
		top: 3.5rem;
	}
}

